$("#list_all_blip_comments_<%= @comment_obj.class.name.downcase+'_'+@comment_obj.id.to_s %>").prepend('<div class="user-thumb"><img src="/assets/user-thumb.jpg" alt=""></div><div class="comment-text"><p class="title">User Name</p><p class="normal-txt" id="jTruncate_truncate-<%= @comment.id %>"><%= @comment.comment %></p></div>');
$('#jTruncate_truncate-<%= @comment.id %>').jTruncate({
  length: 50
});
$("#no_comments").hide();
$("#comment_list_<%= @comment_obj.class.name.downcase+'_'+@comment_obj.id.to_s %> #comment_comment").val("");
