<%= link_to "change my password", "#.", :id => "new_pwd" %>
<div id="set_pwd_div" style="display: none">
  <%= form_for(User.new, :remote => true, url: users_path(:id => current_user.id), id: "password_form", :validate => true, :method => 'put') do |f| %>

      <%=	 f.label :password, "New Password" %>
      <%= f.password_field :password %>

      <%=	 f.label :password_confirmation, "Retype New Password" %>
      <%= f.password_field :password_confirmation %>
      <br/>

      <%= f.submit 'Save' ,:class => "button small brown" %>
  <% end %>
</div>
</td>