
  <div class="row">
    <div class="content-area">
      <h2 class="page-title">E-mail Preferences</h2>

      <div class="edit-account-container">
        <div class="acount-left">
          <div class="account-row">
            <div class="account-col1">When someone starts to follow me.</div>
            <% options = current_user.email_follow_me ? {:checked => true} : {} %>
            <div class="account-col2"><%= check_box :email_follow_me, 0, {data: {remote: true, url: users_path(:id => current_user.id, :check_type => "email_follow_me"),
                                                                                 update: "message_div_id", :method => 'put'}}.merge(options) %></p> </div>

            <div class="account-col1">When someone answers my question.</div>
            <% options = current_user.email_answer_question ? {:checked => true} : {} %>
            <div class="account-col2"><%= check_box :email_answer_question, 0, {data: {remote: true, url: users_path(:id => current_user.id, :check_type => "email_answer_question"),
                                                                                       update: "message_div_id", :method => 'put'}}.merge(options) %></p> </div>

            <div class="account-col1">When someone comments on my contribution.</div>
            <% options = current_user.email_comment ? {:checked => true} : {} %>
            <div class="account-col2"><%= check_box :email_comment, 0, {data: {remote: true, url: users_path(:id => current_user.id, :check_type => "email_comment"),
                                                                               update: "message_div_id", :method => 'put'}}.merge(options) %></p> </div>                                                                        
            <div class="account-col1">When someone replies to my comment.</div>
            <% options = current_user.email_comment_reply ? {:checked => true} : {} %>
            <div class="account-col2"><%= check_box :email_comment_reply, 0, {data: {remote: true, url: users_path(:id => current_user.id, :check_type => "email_comment_reply"),
                                                                                     update: "message_div_id", :method => 'put'}}.merge(options) %></p> </div>
            

          </div>
        </div>
        <!-- end of edit-account-container -->
        <div class="acount-right">
          <%= render :partial => 'users/settings_right' %>
        </div>

      </div>
      <!-- end of middle contaienr -->
    </div>
  </div>



  <div class="row">
    <div class="content-area">
      <h2 class="page-title">Questions/Answers/Comments</h2>

      <div class="edit-account-container">
        <div class="acount-left">
          <div class="account-row">
            <div class="account-col1">On new company activities for companies I follow.</div>
            <% options = current_user.email_company_activity ? {:checked => true} : {} %>
            <div class="account-col2"><%= check_box :email_company_activity, 0, {data: {remote: true, url: users_path(:id => current_user.id, :check_type => "email_company_activity"),
                                                                            update: "message_div_id", :method => 'put'}}.merge(options) %></p> </div>

            <div class="account-col1">On new user activities for the users I follow.</div>
            <% options = current_user.email_user_activity ? {:checked => true} : {} %>
            <div class="account-col2"><%= check_box :email_user_activity, 0, {data: {remote: true, url: users_path(:id => current_user.id, :check_type => "email_user_activity"),
                                                                            update: "message_div_id", :method => 'put'}}.merge(options) %></p> </div>


          </div>
          <!-- end of edit-account-container -->

        </div>
      </div>
    </div>
  </div>
      <!-- end of middle contaienr -->
        <div class="row">
          <div class="content-area">
            <h2 class="page-title">Newsletter for pages followed</h2>

            <div class="edit-account-container">
              <div class="acount-left">
                <div class="account-row">
                  <div class="account-col1"> Every</div>
                  <%= form_for(current_user, :remote => true, url: users_path(:id => current_user.id),
                               update: "message_div_id", :method => 'put') do |f| %>

                    <div class="account-col2"><%= f.text_field :no_day_newsletter %>
                      days<%= button_tag 'Update', :class => "button small brown", :id => "news"
                    %> </p>
                    </div>
                  <% end %>

                <!-- end of edit-account-container -->

              </div>
            </div>
            <!-- end of middle contaienr -->
          </div>


        </div>

      </div>
  
