<%= current_user.userinterest%>
<%= link_to "Edit", "#.",
            :id => "user_Intrest" ,
            :onclick => "show_user_interest()", :class => "readmore-link" %>
<div class="slide-div" id="show_interest_down" style="display: none">
  <%= form_for(User.new, :remote => true, url: users_path(:id => current_user.id),
               update: "message_div_id", :method => 'put') do |f| %>

      <%=	 f.label :userinterest %>
      <%= f.text_area :userinterest %>



      <%= f.submit 'Save' ,:class => "button medium brown" %>
  <% end %>
</div>