<p><%= @user.userinterest%></p>
<% if user_signed_in? && @user.id == current_user.id %>
<%= link_to "Edit", "#.",
            :id => "user_Intrest" ,
            :onclick => "show_user_interest()", :class => "readmore-link" %>
<div class="slide-div" id="show_interest_down" style="display: none">
  <%= form_for(current_user, :remote => true, url: users_path(:id => current_user.id),
               update: "message_div_id", :method => 'put') do |f| %>

      <%= f.text_area :userinterest, :id=>"interest-text", :cols => "27",:rows => 5  %>



      <%= f.submit 'Save' ,:class => "button medium brown" %>
  <% end %>
</div>
<script type="text/javascript">
    	$("#interest-text").maxlength({max: 500});
	</script>
<% end %>