<div class="panels-box">
  <div class="left-panel">

    <div class="box-col">
      <h3><%= @user.name %></h3>
      <div class="profile-pic-box">
        <div class="pic-div"><%= image_tag @user.image_url(:thumb).to_s %>
          <% if @user.id == current_user.id %>
            <%= form_for @user, :method => 'post', :url => { :action => "imageuploader" }, :html => {:multipart => true} do |f| %>

              <%= f.file_field :image %>
              <%= f.submit 'save'%>
            <%end%>
            <%end%>
        </div>
        <div id="follow_detail" >
          <%= render :partial => 'follow_details' %>
        </div>
        <div class="clr"></div>
      </div>

      <div class="clr"></div>
    </div>

    <div class="box-col">
      <h3>Top Contributor of...</h3>
      <div class="box-col-div">
        <ol>
          <% TopUser.get_user_companies(@user, 5).each do |top_user| %>
            <li><%= link_to top_user.company.ticker, company_path(top_user.company) %> (<%= top_user.no_of_votes %>)</li>
          <% end %>
        </ol>
      </div>
      <div class="clr"></div>
    </div>



    <div class="box-col">
      <h3>My Contributions</h3>
      <div class="box-col-div">
        <ol>
          <% @user.get_contributions.each do |key, value| %>
            <li><%= key %> (<%= value %>)</li>
          <% end %>
        </ol>
      </div>
      <div class="clr"></div>
    </div>

    <div class="box-col">
      <h3>Users I Follow</h3>
      <div class="box-col-div">
        <ol>
          <% @user.follows_by_type('User').each do |follow| %>
            <li><%= link_to follow.followable.name, user_path(follow.followable) %></li>
          <% end %>
        </ol>
      </div>
      <div class="clr"></div>
    </div>

    <div class="box-col">
      <h3>Companies I Follow</h3>
      <div class="box-col-div">
        <ol>
          <% @user.follows_by_type('Company').each do |follow| %>
            <li><%= link_to follow.followable.name, company_path(follow.followable) %></li>
          <% end %>
        </ol>
      </div>
      <div class="clr"></div>
    </div>

        <div class="box-col">
      <h3>My Followers</h3>
      <div class="box-col-div">
        <ol>
          <% @user.followers.each do |follower| %>
            <li><%= link_to follower.name, user_path(follower) %></li>
          <% end %>
        </ol>
      </div>
      <div class="clr"></div>
    </div>


  </div>

</div>
