<div class="panels-box">
  <div class="left-panel">
    <div class="box-col">
      <div class="clr"></div>
    </div>
  </div>
</div>
<div id="middle-container">
  <div class="row">
    <div class="content-area">
      <h2 class="page-title">Credits</h2>

      <div class="edit-account-container">

            Credits make content you care about on AlphaPitch more prominent. This prominence can help questions get answered, or get more attention for answers and posts.
            You'll spend credits to ask someone to answer or promote content. You'll earn credits when people vote up your answers or follow your questions.
            For more, see <a href="#">What are AlphaPitch credits?</a>
        <div class="credit-container">
          <div class="credit-left">
            <div class="credit-head-row">
              <div class="credit-col1"><strong>Your Credits</strong></div>
              <div class="credit-col2"><strong><%= @credit_sum %></strong></div>
            </div>
            <div class="credit-row">
              <% @buy_pitches.each do |pitch| %>
                <div class="credit-col1 lefttxt"><%= pitch.net_votes %> Vote on your pitch to <%= pitch.title %></div>
                <div class="credit-col2"><strong><%= pitch.points %></strong></div>
              <% end %>
              <% @sell_pitches.each do |pitch| %>
                <div class="credit-col1 lefttxt"><%= pitch.net_votes %> Vote on your pitch to <%= pitch.title %></div>
                <div class="credit-col2"><strong><%= pitch.points %></strong></div>
              <% end %>
              <% @blips.each do |blip| %>
                <div class="credit-col1 lefttxt"><%= blip.net_votes %> Vote on your blip to <%= blip.content.truncate(27, :separator => ' ') %></div>
                <div class="credit-col2"><strong><%= blip.points %></strong></div>
              <% end %>
              <% @questions.each do |question| %>
                <div class="credit-col1 lefttxt"><%= question.net_votes %> Vote on your blip to <%= question.content.truncate(27, :separator => ' ') %></div>
                <div class="credit-col2"><strong><%= question.points %></strong></div>
              <% end %>
              <% @answers.each do |answer| %>
                <div class="credit-col1 lefttxt"><%= answer.net_votes %> Vote on your blip to <%= answer.content.truncate(27, :separator => ' ') %></div>
                <div class="credit-col2"><strong><%= answer.points %></strong></div>
              <% end %>
              <% @catalysts.each do |catalyst| %>
                <div class="credit-col1 lefttxt"><%= catalyst.net_votes %> Vote on your blip to <%= catalyst.content.truncate(27, :separator => ' ') %></div>
                <div class="credit-col2"><strong><%= catalyst.points %></strong></div>
              <% end %>
            </div>

          </div>

        </div>
        <p style="height:200px;">&nbsp;</p>

        <div class="clr"></div>
      </div>

    </div>
  </div>
