
<div class="panels-box">
  <div class="left-panel">
    <div class="box-col">


      <div class="clr"></div>
    </div>
  </div>
</div>

<div id="middle-container">
<div class="row">
  <div id="privacy">
    <div class="content-area">

      <h2 class="page-title">Account</h2>

      <div class="edit-account-container">
        <div class="acount-left">
          <div class="account-row">
            <div class="account-col1">Primary Email</div>
            <div class="account-col2"> <%= current_user.email %></p>

              <p></p></div>
          </div>
          <div class="account-row">
            <div class="account-col1">Password</div>
            <div id="changemypassword_list" class="account-col2">
              <%= render :partial => 'users/changemypassword' %>
            </div>

          </div>
          <div class="account-row">
            <div class="account-col1">Mobile Number</div>

            <!--this div id is use for ajac call -->

            <div id="changemymobilenumber_list" class="account-col2">

              <%= render :partial => 'users/change_my_mobile_number' %>
            </div>
            <!-- end of ajax call div id -->
          </div>
        </div>
        <div class="acount-right">
          <%= render :partial => 'users/settings_right' %>
        </div>
        <div class="clr"></div>

      </div>
      <!-- end of edit-account-container -->
    </div>
  </div>
</div>
</div>
<!-- end of middle contaienr -->
<div id="email" style="display: none">

  <%= render :partial => 'users/email_preference' %>
</div>

