<div class="top-stock-search">
  <%#= render 'user_banner' %>
</div><!-- end of top-stock-search -->
<div class="clr"></div>

<%= render 'users_left' %>

<div class="middle-panel">

  <div class="box-col middle-margin">
    <h3>Alph
      Blips  <%= select_tag("blip_sort_by", "<option value='desc'>Recent</option><option value='asc'>Old</option>".html_safe, class: "selectbox-global") %>
      <%= select_tag("blip_range", "<option value='10'>Last 10 days</option><option value='15'>Last 15 days</option><option value='30'>Last 30 days</option>".html_safe, class: "selectbox-global") %></h3>

    <!--<div class="small-follow-btn"><a href="#"></a></div>-->
    <div id="blips_list" class="scroll">
      <%= render :partial => 'users/blips_list', :locals => {:objs => @blips,:child_objs => nil, :objs_text => nil, :child_objs_text => nil} %>




    </div>

  </div>

  <div class="box-col middle-margin">
    <h3 class="middleh3">Buy Pitch
      <%= select_tag("buy_sort", "<option value='desc'>Recent</option><option value='asc'>Old</option>".html_safe, class: "selectbox-global") %>
      <%= select_tag("buy_range", "<option value='5'>Last 10 days</option><option value='15'>Last 15 days</option><option value='30'>Last 30 days</option>".html_safe, class: "selectbox-global") %> </h3>
    <div id="buy_list" class="scroll">
      <%= render :partial => 'users/buypitch', :locals => {:objs => @buypitchs,
                                                              :company => @company, :child_objs => nil,
                                                              :objs_text => nil,
                                                              :child_objs_text => nil,
                                                              :show_link => true} %>
  </div>
            </div>
  <div class="box-col middle-margin">
    <h3 class="middleh3">Sell Pitch
      <%= select_tag("sell_sort", "<option value='desc'>Recent</option><option value='asc'>Old</option>".html_safe, class: "selectbox-global") %>
      <%= select_tag("sell_range", "<option value='5'>Last 10 days</option><option value='15'>Last 15 days</option><option value='30'>Last 30 days</option>".html_safe, class: "selectbox-global") %></h3>
    <div id="sell_list" class="scroll">
      <%= render :partial => 'users/sellpitch', :locals => {:objs => @sellpitchs,
                                                           :child_objs => nil,
                                                           :objs_text => nil,
                                                           :child_objs_text => nil,
                                                           :show_link => true} %>

  </div>
            </div>
  <div class="box-col middle-margin">
    <h3 class="middleh3">Questions
      <%= select_tag("question_sort","<option value='desc'>Recent</option><option value='asc'>Old</option>".html_safe, class: "selectbox-global") %>
      <%= select_tag("question_range", "<option value='10'>Last 10 days</option><option value='15'>Last 15 days</option><option value='30'>Last 30 days</option>".html_safe, class: "selectbox-global") %></h3>
    <div id="question_list" class="scroll">
      <%= render :partial => 'users/question', :locals => {:objs => @question,
                                                            :child_objs => nil,
                                                            :objs_text => nil,
                                                            :child_objs_text => nil,
                                                            :show_link => true} %>

  </div>
    </div>
  <div class="box-col middle-margin">
    <h3 class="middleh3">Answers
      <%= select_tag("answer_sort", "<option value='desc'>Recent</option><option value='asc'>Old</option>".html_safe, class: "selectbox-global") %>
      <%= select_tag("answer_range", "<option value='10'>Last 10 days</option><option value='15'>Last 15 days</option><option value='30'>Last 30 days</option>".html_safe, class: "selectbox-global") %></h3>
    <div id="answer_list" class="scroll">
      <%= render :partial => 'users/answer', :locals => {:objs => @answer,
                                                           :child_objs => nil,
                                                           :objs_text => nil,
                                                           :child_objs_text => nil,
                                                           :show_link => true} %>

  </div>

          </div>
  <div class="box-col middle-margin">
    <h3 class="middleh3">Comments
      <%= select_tag("comment_sort", "<option value='desc'>Recent</option><option value='asc'>Old</option>".html_safe, class: "selectbox-global") %>
      <%= select_tag("comment_range", "<option value='5'>Last 10 days</option><option value='15'>Last 15 days</option><option value='30'>Last 30 days</option>".html_safe, class: "selectbox-global") %></h3>
    <div id="comment_list" class="scroll">
      <%= render :partial => 'users/comment', :locals => {:objs => @comment,
                                                         :child_objs => nil,
                                                         :objs_text => nil,
                                                         :child_objs_text => nil,
                                                         :show_link => true} %>
     </div>

          </div>
  <div class="clr"></div>
</div>

<div class="right-panel">

  <div class="box-col">
    <h3>About: <%= current_user.name %></h3>
    <div id="aboutuser_list" class="box-col-div">
      <%= render :partial => 'users/aboutuser' %>

    </div>

    <div class="clr"></div>
  </div>

  <div class="box-col">
    <h3>Interest/Expertise: </h3>
    <div id="interest_list" class="box-col-div">
      <%= render :partial => 'users/interest' %>
    </div>
    <div class="clr"></div>
  </div>


  <div class="box-col">
    <h3>Company: </h3>
    <div id='company_list' class="box-col-div">
     <%= render :partial => 'users/company' %>
    </div>
    <div class="clr"></div>
  </div>


  <div class="box-col">
    <h3>Blog: </h3>
    <div id='blog_list' class="box-col-div">
      <%= render :partial => 'users/blog' %>
    </div>
    <div class="clr"></div>
  </div>
</div>


<script>
    function show_about_user(){
        $("#show_user_down").slideDown();
        return false;
    }
</script>

<script>
    function show_user_interest(){
        $("#show_interest_down").slideDown();
        return false;
    }
</script>

<script>
    function show_user_company(){
        $("#show_company_down").slideDown();
        return false;
    }
</script>

<script>
    function show_user_blog(){
        $("#show_blog_down").slideDown();
        return false;
    }
</script


