<div id="add_blip" class="slide-div">
  <div id="flash_message"></div>
  <%= form_for(Blip.new, :url => company_blips_path(company), :html => {:class => 'form-horizontal'}, :validate => true, :remote => true) do |f| %>

    <%= f.label "Your blip", :class => "control-label" %>
    <%= f.text_area :content, :class => "slide-input", :rows => 5, :validate => true %>


    <%= f.hidden_field :company_id, :value => company.id %>
    <%= f.hidden_field :user_id, :value => current_user.try(:id) %>

    <p><%= f.button 'Submit', id: 'create_blip', :class => 'button small brown' %></p>
  <% end %>
</div>


