<div class="panels-box">
  <div class="left-panel">

    <div class="box-col">
      <h3><%= @company.ticker %> wizards</h3>
      <div class="box-col-div">
        <ol>
          <% TopUser.get_top_users(@company, 5).each do |top_user| %>
            <li><%= link_to top_user.user.name, "#" %> (<%= top_user.no_of_votes %>)</li>
          <% end %>
        </ol>
      </div>
      <div class="clr"></div>
    </div>


    <div class="box-col">
      <div id="company_description">
        <%= render 'companies/description' %>
      </div>

      <div class="clr"></div>
    </div>

    <div class="box-col">
      <h3>Target Pirce</h3>
      <div class="box-col-div">
        <div id="target_price">
          <%= render 'companies/target_price' %>

        </div>
        </div>
      <div class="clr"></div>
    </div>

    <div class="box-col">
      <h3>Stock Catalysis</h3>
      <div class="box-col-div">
        <div id="catalyst">
          <%= render 'companies/catalyst' %>

      </div>
      </div>
      <div class="clr"></div>
    </div>

    <div class="box-col">
      <h3>Compititors</h3><!--<div class="small-follow-btn"><a href="#"></a></div>-->
      <div class="box-col-div">
      <div id="competitor">
        <div id="vote_competitor" class="scroll">
          <%= render 'companies/competitor' %>
        </div>
      </div>

        <% if current_user %>
        <p><input type="text" value="Edit content here..." class="box-input"></p>
        <p><%= link_to "Add Competitor", "#.", :id => 'company_competitor_slide', :class => "readmore-link" %>
          </p>
          <%= render :partial => 'competitors/add_competitor' %>
        <% end %>
      </div>


      <div class="clr"></div>
    </div>


    <div class="box-col">
      <h3>Risks to company</h3><!--<div class="small-follow-btn"><a href="#"></a></div>-->
      <div id="risk">
        <%= render 'companies/risk' %>
      </div>




      <div class="clr"></div>
    </div>

  </div>

</div>