<h3>Alpha Blips <div style="float:right"><span class="dropdown"><%= select_tag("sort_by", "<option value='default'>Default</option><option value='desc'>Latest</option><option value='asc'>Oldest</option>".html_safe, class: "selectbox-global",
                              data: {
                                remote: true,
                                url: company_blips_path(@company),
                                update: "message_div_id"
                              }
                   ) %></span></div>
  </h3>
</h3>

<!--<div class="small-follow-btn"><a href="#"></a></div>-->

<div class="box-col-div">
    <% if current_user %>

    <p><a href="#." role="button" class="readmore-link new_blip" id="new_blip_<%= @company.id %>">Write a Blip</a>
    </p>
    <div style="display: none" id='new_blip_slide_down_<%= @company.id %>'>
      <%= render :partial => 'shared/add_blip', :locals => {:company => @company} %>
    </div>
  </br>

  <% end %>
  <div id="blips_list" class="scroll">
    <%= render :partial => 'shared/blips_list', :locals => {:objs => @blips, :company => @company, :child_objs => nil, :objs_text => nil,
      :child_objs_text => nil, :show_ticker => false} %>
  </div>
  <a href="#" class="more-content" id="more-blp">More...</a>
  <div id="blp-pagination"><%= will_paginate @blips, :param_name => 'blp_page'%></div>

</div>
</br>

<script type="text/javascript">
  $('#new_blip_<%= @company.id %>').click(function () {
    $("#new_blip_slide_down_<%= @company.id %>").toggle("slideDown(1000)");
    $('#add_blip #new_blip').validate();
  });
  $("#blip_content").maxlength({max: 140});
  $('#new_attachment_<%= @company.id %>').click(function() {
    $("#new_attachment_slide_down_<%= @company.id %>").toggle("slideDown(1000)");
  });
</script>
