<div class="comments-container <%= content_div %>">

  <div class="comments-div">

    <div class="comment-box">
        <%= form_for(Comment.new, :url => send("company_#{@comment_obj.class.name.downcase}_comments_path", @comment_obj.company, @comment_obj), :html => {:class => 'form-horizontal'}, :validate => true, :remote => true) do |f| %>
          <div class="user-thumb"><img src="/assets/user-thumb.jpg" alt=""></div>
          <div class="comment-input">
              <%= f.text_area :comment, :class => "inputbox", :validate => true %>
          </div>
          <div class="comment-btn"> <%= f.button 'Comment', id: 'create_blip', :class => 'button medium brown' %></div>
        <% end %>

    </div><!-- end of comment-box -->

    <div class="comment-box" id="list_all_blip_comments_<%= @comment_obj.class.name.downcase+'_'+@comment_obj.id.to_s %>">
      <% if !@comment_obj.comments.blank? %>
        <% @comment_obj.comments.each do |comment| %>
          <div class="user-thumb"><img src="/assets/user-thumb.jpg" alt=""></div>
          <div class="comment-text">
            <p class="title">User Name</p>
            <p class="normal-txt" id="jTruncate_truncate-<%= comment.id %>"><%= comment.comment %></p>
          </div>
          <script type="text/javascript">
            $('#jTruncate_truncate-<%= comment.id %>').jTruncate({
              length: 50
            });
          </script>
        <% end %>
      <% else %>
        <div id="no_comments">
        There are no comments for this Blip
        </div>
      <% end %>


    </div><!-- end of comment-box -->




  </div><!-- end of comments-div -->

</div>



