<div id="list_comments" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id="flash_message"></div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= blip_show_title(@blip) %></h3>
  </div>
  <div class="modal-body" id="list_all_blip_comments">
    <% if !@blip.comments.blank? %>
      <% @blip.comments.each do |comment| %>
        <div id="jTruncate_truncate-<%= comment.id %>"><%= comment.comment %></div>
        <script type="text/javascript">
          $('#jTruncate_truncate-<%= comment.id %>').jTruncate({
            length: 50
          });
        </script>
      <% end %>
    <% else %>
      There are no comments for this Blip
    <% end %>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= button_tag 'Add Comment', id: 'add_comment', :class => 'btn-primary' %>
  </div>

  <div class="modal-body" style="display:none" id="blip_comment_create">
    <%= form_for(Comment.new, :url => blip_comments_path(@blip), :html => {:class => 'form-horizontal'}, :validate => true, :remote => true) do |f| %>

      <div class="control-group">
        <%= f.label :comment, :class => "control-label" %>
        <div class="controls">
          <%= f.text_area :comment, :validate => true %>
        </div>
      </div>


      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <%= f.button 'Submit', id: 'create_blip', :class => 'btn-primary' %>
      </div>
    <% end %>
  </div>
</div>


