
<div class="left-box">
  <div class="q-title">
    <strong><%= text_val.try(:html_safe) %></strong>
  </div>
  <% hr_voting = hr_voting rescue nil %>
  <div class="<%= hr_voting %>voting-arrow" style="top:0!important;">
    <div class="voting-with-number">
      <span class = "numbers-bg">
          <%= link_to send("up_company_#{cobj.class.name.downcase}_votes_path", cobj.company, cobj, {:refresh_div => refresh_div}),
                                                     :remote => true, :method => :put, :id => "vote_up_#{cobj.class.name.downcase+"_"+cobj.id.to_s}",
                                                     :class => "voting-up-arrow" do %>
          <span class="numbers" id="upvote_number_<%= cobj.class.name.downcase+"_"+cobj.id.to_s %>"><%= cobj.try(:net_votes) %></span>
          <% end %>
      </span>
      <span class="numbers-bg">
          <%= link_to send("down_company_#{cobj.class.name.downcase}_votes_path", cobj.company, cobj, {:refresh_div => refresh_div}),
                      :remote => true, :method => :put, :id => "vote_down_#{cobj.class.name.downcase+"_"+cobj.id.to_s}",
                      :class => "voting-down-arrow" do %>
            <span class="numbers" id="downvote_number_<%= cobj.class.name.downcase+"_"+cobj.id.to_s %>">&nbsp;</span>
          <% end %>
      </span>
    </div>
  </div>
</div>

<div class="right-box">
  <div class="comments-container">
    <% if comments %>
      <% if show_link %>
        <%#= link_to("#{text_val.try(:html_safe)}#{send("show_title", cobj)}".html_safe, show_link(cobj, company),
                                                    :id => "show_title_link_"+cobj.id.to_s, :remote => true) %>
        <div class="pitch-title">
          <% if show_ticker %>
                <div style='float:left;'><a href='/companies/<%= cobj.company.ticker %>'><%= cobj.company.ticker %>:&nbsp;</a></div>
              <% end %>
        <div id="show_title_link_<%= cobj.id %>">
          <div id="truncated_title_<%= cobj.id %>" style="display: true">
              
                <%= link_to send("show_title", cobj).truncate(70), pitch_path(cobj) %>
          </div>
          <div id="full_title_<%= cobj.id %>" style="display: none">
                <%= link_to send("show_title", cobj), pitch_path(cobj) %>
          </div>
        </div>
      </div>
        <div class="item_reference">                                              
          <%= send("show_ref", cobj).html_safe + time_ago_in_words(cobj.created_at) + " ago. "%> 
            <% if can? :edit, cobj %>
               | <%= link_to "Edit", "#.",:id => "pitch_update_link_#{cobj.id}" %>
            <% end %>
            <% if can? :delete, cobj %>
               | <%= link_to "Delete", company_pitch_path(cobj.company, cobj), :method => 'delete', :confirm => 'Are you sure you want to delete this pitch?', :remote => true %>
            <% end %>
        </div>
        <div class="text-editor-container" id="update_pitch_slide_down_<%= cobj.id %>" style="display: none">
          <%= render :partial => 'shared/pitch_form', :locals => {:pitch => cobj, :option => cobj.action} %>
        </div>
        <div class="multimedia_content" id="multimedia_content_for_title_<%= cobj.id %>" style="display: none">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style "
            addthis:url="<%= url_for pitch_url(cobj) %>"
            addthis:title="<%= cobj.title %>"
            addthis:description="<%= cobj.multimedia_content %>" >
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <script type="text/javascript">
              var addthis_config = {"data_track_addressbar":true};
              addthis.toolbox('.addthis_toolbox');
            </script>
            <!-- AddThis Button END -->

            <%= send("show_multimedia_content",cobj).html_safe %>
        </div>
        <div class='clr'>
        </div>
      <% else %>
        <%#= text_val.try(:html_safe) %><%= send("show_title", cobj).html_safe %>
      <% end %>

      <p>
        <%= link_to("Comments (#{comments_count})", send("company_#{cobj.class.name.downcase}_comments_path", cobj.company, cobj), :remote => true ) %>
        <% if child_objs_present %>

            | <a id="accordion2-<%= cobj.id %>" href="#collapseOne-<%= cobj.id %>">
                <%= ("<b>"+cobj.child_link_name+"</b>").html_safe %>
              </a>

            <div id="comment_list_<%= cobj.class.name.downcase+"_"+cobj.id.to_s %>" style="display:none">

            </div>

            <div class="span12">

            <%= render :partial => 'answers/form', :locals => {:company => cobj.company, :question => cobj,
                                                                 :child_objs => child_objs,
                                                                 :child_objs_text => child_objs_text} %>
            </div>
        <% end %>
      </p>

      <div id="comment_list_<%= cobj.class.name.downcase+"_"+cobj.id.to_s %>" style="display:none">

      </div>

    <% else %>
      <% if show_link %>
        <%= link_to(send("show_title", cobj).html_safe, show_link(cobj, cobj.company)) %>
      <% else %>
        <%= send("show_title", cobj).html_safe %>
      <% end %>
    <% end %>
  </div>
</div>
<hr>
<div class="clr"></div>
<script type="text/javascript">

  $(document).off("click", "#show_title_link_<%= cobj.id%>").on("click", "#show_title_link_<%= cobj.id%>", function (e) {
    toggle_visibility_from_visible("truncated_title_<%= cobj.id %>");
    toggle_visibility_from_hidden("full_title_<%= cobj.id %>");
    $("#multimedia_content_for_title_<%= cobj.id %>").toggle("slideDown(1000)", function () {
    });
    e.preventDefault();
  });



  $(document).off("click", "#pitch_update_link_<%= cobj.id %>").on("click", "#pitch_update_link_<%= cobj.id %>", function() {
    $("#update_pitch_slide_down_<%= cobj.id%>").toggle("slideDown(1000)", function () {
      });
    $("#update_pitch_slide_down_<%= cobj.id%> #edit_pitch_<%= cobj.id%>").resetClientSideValidations();
  });

  <% if user_signed_in? %>
    <% if current_user.up_voted?(cobj) %>
    $("#vote_down_" + '<%= cobj.class.name.downcase+'_'+cobj.id.to_s %>').hide();
    $("#vote_up_" + '<%= cobj.class.name.downcase+'_'+cobj.id.to_s %>').show();
    $('#upvote_number_<%= cobj.class.name.downcase+"_"+cobj.id.to_s %>').html('<%= cobj.reload.net_votes %>');
    <% elsif current_user.down_voted?(cobj) %>
    $("#vote_down_" + '<%= cobj.class.name.downcase+'_'+cobj.id.to_s %>').show();
    $("#vote_up_" + '<%= cobj.class.name.downcase+'_'+cobj.id.to_s %>').hide();
    $('#downvote_number_<%= cobj.class.name.downcase+"_"+cobj.id.to_s %>').html('<%= cobj.reload.net_votes %>');
    <% else %>
    $("#vote_down_" + '<%= cobj.class.name.downcase+'_'+cobj.id.to_s %>').show();
    $("#vote_up_" + '<%= cobj.class.name.downcase+'_'+cobj.id.to_s %>').show();
    $('#upvote_number_<%= cobj.class.name.downcase+"_"+cobj.id.to_s %>').html('<%= cobj.reload.net_votes %>');
    $('#downvote_number_<%= cobj.class.name.downcase+"_"+cobj.id.to_s %>').html('');
    <% end %>
  <% end %>
  <% if(position >= 0 && position < 3) %>
    $("#show_title_link_<%= cobj.id%>").trigger('click');
  <% end %>

  $("#edit_reason_<%= cobj.id.to_s %>_submit").on("click",function() {
    $("#edit_pitch_<%= cobj.id.to_s %>_form").spin();
  });

</script>

