<div class="clr"></div>

<div class="panels-box">

  <div class="landing-left-panel">

    <div class="box-col">
      <h3 class="middleh3">Long Pitch: Reasons to Buy
        <% if user_signed_in? %>
          <%= select_tag("home_buy_sort", "<option value='default'>Default</option><option value='desc'>Latest</option><option value='asc'>Oldest</option><option value='following'>Following</option>".html_safe, class: "selectbox-global") %> </h3>
        <% else %>
          <%= select_tag("home_buy_sort", "<option value='default'>Default</option><option value='desc'>Latest</option><option value='asc'>Oldest</option>".html_safe, class: "selectbox-global") %> </h3>
        <% end %>  
      </h3>
      <div class="box-col-topreason">
        <div class="rows-div">
          <div id="buy_list" class="scroll">
            <%= render :partial => 'shared/pitches_list', :locals => {:objs => @buy_pitchs,
                                                                    :company => @company, :child_objs => nil,
                                                                    :objs_text => nil,
                                                                    :child_objs_text => nil,
                                                                    :show_link => true,
                                                                    :show_ticker => true
                                                                  } %>
          </div>
          <a href="#" class="more-content" id="more-lp">More...</a>
          <div id="lp-pagination"><%= will_paginate @buy_pitchs, :param_name => 'lp_page'%></div>
        </div>
      </div>

      <div class="clr"></div>
    </div>

    <div class="box-col">
      <h3 class="middleh3">Short Pitch: Reasons to Sell
        <% if user_signed_in? %>
          <%= select_tag("home_sell_sort", "<option value='default'>Default</option><option value='desc'>Latest</option><option value='asc'>Oldest</option><option value='following'>Following</option>".html_safe, class: "selectbox-global") %></h3>
        <% else %>
          <%= select_tag("home_sell_sort", "<option value='default'>Default</option><option value='desc'>Latest</option><option value='asc'>Oldest</option>".html_safe, class: "selectbox-global") %></h3>
        <% end %>
      </h3>

      <div class="box-col-topreason">
        <div class="rows-div">

          <div id="sell_list" class="scroll">
            <%= render :partial => 'shared/pitches_list', :locals => {:objs => @sell_pitchs,
                                                                    :company => @company, :child_objs => nil,
                                                                    :objs_text => nil,
                                                                    :child_objs_text => nil,
                                                                    :show_link => true,
                                                                    :show_ticker => true} %>
          </div>
          <a href="#" class="more-content" id="more-sp">More...</a>
          <div id="sp-pagination"><%= will_paginate @sell_pitchs, :param_name => 'sp_page'%></div>
          <!-- end of rows-div -->

        </div>

      </div>

      <div class="clr"></div>
    </div>
  </div>
  <div class="landing-right-panel">
    <div class="search-box">
      <div class="search-div">
        <%= form_tag(searches_path, :class => 'pull-right', :remote => true) do %>
          <%= text_field('q', 'search', :class => 'search-query search-input', :placeholder => "Search by Ticker, Company Name") %>
          <%= submit_tag('', :class => 'search-button') %>
          <div class="clr"></div>
        <% end %>
      </div>
      <div class="clr"></div>
    </div><!-- end of search-box -->

    <%= render 'searches/search_modal' %>
  </br>
    <div class="box-col">
      <div class="rows-div">
        <h3>Alpha
          Blips
          <% if user_signed_in? %>
            <%= select_tag("home_blip_sort", "<option value='default'>Default</option><option value='desc'>Latest</option><option value='asc'>Oldest</option><option value='following'>Following</option>".html_safe, class: "selectbox-global") %></h3>
          <% else %>
            <%= select_tag("home_blip_sort", "<option value='default'>Default</option><option value='desc'>Latest</option><option value='asc'>Oldest</option>".html_safe, class: "selectbox-global") %></h3>
          <% end %>
        </h3>

        <div id="blips_list" class="scroll">
          <%= render :partial => 'shared/blips_list', 
          :locals => {:objs => @blips, :child_objs => nil, :objs_text => nil, :child_objs_text => nil, :show_ticker => true} %>
        </div>
        <a href="#" class="more-content" id="more-blp">More...</a>
        <div id="blp-pagination"><%= will_paginate @blips, :param_name => 'blp_page', :id => "blp-pagination"  %></div>



        <!-- end of left-panel -->


        <div class="clr"></div>
      </div>
      <!-- end of box div -->

      <div class="box-col">
        <h3>Stock Catalysts</h3>
        <div class="box-col-div">
        <div id="catalyst">
          <%= render :partial =>'shared/catalysts', :locals => {:catalyst => @catalyst} %>
        </div>
        <a href="#" class="more-content" id="more-cat">More...</a>
      </div>
        <%= will_paginate @catalyst, :param_name => 'cat_page', :id => "cat-pagination" %>
        <div class="clr"></div>
      </div>


      <div class="clr"></div>
    </div>

  </div>
  <!-- end of right-panel -->

  <div class="clr"></div>
</div><!-- end of panels-box -->


</div>
<div class="clr"></div>
</div><!-- end of middle container -->