<div id="edit_answer" class="slide-div">
  <%= form_for(answer, :url => company_answer_path(@company,answer), :html => {:class => 'form-horizontal'}, :validate => true, :remote => true) do |f| %>
    <%= f.label :content, :class => "control-label" %>
    <%= f.cktext_area :content, :class => "slide-input", :id => "edit_answer_content_#{answer.id.to_s}", :validate => true %>
    <%= f.button 'Submit', id: 'create_question', :class => 'button small brown' %>
  <% end %>
</div>

<script type="text/javascript">

    if (!jQuery.contains(document, $("#edit_answer_content_<%= answer.id.to_s %>"))) {
    	CKEDITOR.replace( "edit_answer_content_<%= answer.id.to_s %>" );
    }

</script>

