
<span style='display:none' id='create_answer-<%= question.id %>'>
<div class="text-editor-container">
<%= form_for(Answer.new, :url => company_question_answers_path(company, question), :html => {:class => 'form-horizontal'}, :validate => true, :remote => true) do |f| %>
  <div class="span12">
    <%= f.cktext_area :content, :class => "ckeditor", :toolbar => "Mini" ,:id => "editor_answer_"+question.id.to_s%>
  </div>

  <div class="span12">
    <%= f.button 'Submit', class: "button small brown", id: "create_answer-#{question.id}" %>
  </div>
</div>
<% end %>
</span>
<div id="answer_to_<%= question.class.name.downcase+'-'+question.id.to_s %>">
  <% !child_objs.blank? && question.send(child_objs).each do |child_obj| %>
    <div id="answer-<%= child_obj.id.to_s %>">
    <%= render :partial => 'shared/voting_list', :locals => {:cobj => child_obj, :company => company,
                                                             :text_val => child_objs_text,
                                                             :child_objs_present => false,
                                                             :comments_count => child_obj.comments.count,
                                                             :comments => true,
                                                             :show_link => false, :refresh_div => false} %>
    </div>
    <script type="text/javascript">
      $('#jTruncate_truncate-<%= child_obj.id %>').jTruncate({
        length: 50
      });
    </script>
  <% end %>
</div>
  <script type="text/javascript">

    $('#accordion2-<%= question.id %>').click(function () {
      $('#create_answer-<%= question.id %>').toggle("slideDown(1000)");
      resetEditor2(<%= question.id %>);
    });

    function resetEditor2(question_id){
        CKEDITOR.instances['editor_answer_'+question_id].setData('<p></p>');
    }

  </script>
