<% Catalyst.where(:company_id => @company.id).order("date ASC").group_by(&:date).each do |cat_date, catalyst| %>
  <% catalyst.each do |cat| %>

    <p><%= cat_date %>: <%= cat.content %> <%= link_to "Edit", "#.", :id => "company_catalyst_slide#{cat.id}" %> |
      <%= link_to "Delete", company_catalyst_path(@company, cat), :method => 'delete', :remote => true %>
    </p>
    <%= render :partial => 'catalysts/add_catalyst', :locals => {:catalyst => cat} %>
  <% end %>
<% end %>
<% if current_user %>

<p><input type="text" value="Edit content here..." class="box-input"></p>
<p><%= link_to "Add Catalyst", "#.", :id => 'company_catalyst_slide', :class => "readmore-link" %>
  </p>
  <%= render :partial => 'catalysts/add_catalyst', :locals => {:catalyst => Catalyst.new, :date_value => ''} %>
<% end %>