<div class="stock-div">
  <% pricing_hash = get_pricing_details(@company) %>
  <h2> <%= @company.ticker %> $ <%= pricing_hash[:latest_price] %>
    <% if pricing_hash[:percentage_diff].to_i > 0 %>
      <span class="arrow-up"></span>
      <%= pricing_hash[:price_diff] %>  (<%= pricing_hash[:percentage_diff] %>%)
    <% elsif pricing_hash[:percentage_diff].to_i < 0 %>
      <span class="arrow-down"></span>
      <%= pricing_hash[:price_diff] %>  (<%= pricing_hash[:percentage_diff] %>%)
    <% end %>
    </h2>
  <div class="reg-follow-btn"><a href="#"></a></div>
  <h3> <%= @company.name %>.</h3>
  <p class="sub-title"><%= @company.sector %>: <span id="jTruncate_truncate"><%= @company.industry %></span></p>
  <script type="text/javascript">
    $('#jTruncate_truncate').jTruncate({
      length: 50
    });
  </script>
</div><!-- end of stock-div -->
<div class="search-box">
  <div class="search-div">
    <%= form_tag(searches_path, :class => 'pull-right', :remote => true) do %>
      <%= text_field('q', 'search', :class => 'search-query search-input', :placeholder => "Search by Ticker, Name, Author and Keyword...") %>
      <%= submit_tag('', :class => 'search-button') %>
      <div class="clr"></div>
    <% end %>
  </div>
  <div class="clr"></div>
</div><!-- end of search-box -->