<div class="stock-div">
  <% pricing_hash = get_pricing_details(@company) %>
  <h2> <%= @company.ticker %> $ <%= pricing_hash[:latest_price] %></h2>
  <span id="company_follow">
    <%= render :partial => 'shared/follow_buttons', :locals => {:obj => @company,
                                                                :follow_link => follow_company_path(@company),
                                                                :unfollow_link => unfollow_company_path(@company),
                                                                :big_small => 'small'} %>
  </span>
  <h1> <%= @company.name %> ( <%= @company.exchange %> )</h1>
  <p class="sub-title"><%= @company.sector %>: <span id="jTruncate_truncate"><%= @company.industry %></span></p>
  <script type="text/javascript">
    $('#jTruncate_truncate').jTruncate({
      length: 50
    });
  </script>
</div><!-- end of stock-div -->
