<h3>Company Description</h3>
<div class="box-col-div">
  <p><span itemprop="description"><%= @company.description %></span></p>
  <% if current_user %>
    <% if can? :update, Company %>
      <p><%= link_to "Write/Edit Description", "#.", :id => 'company_slide', :class => "readmore-link" %></p>
    <% end %>

      <div class="slide-div" style='display:none' id='description_slide_down'>
        <%= form_for(@company, :method => 'put', :remote => true, :validate => true) do |f| %>
          <%= f.text_area :description, :id => "limit_text_area", :cols => "5", :rows => "5", :class => "slide-textarea" %>
          <%= f.submit :class => "button small brown" %>
        <% end %>
      </div>
  <% end %>
</div>

<script type="text/javascript">
  $("#limit_text_area").maxlength({max: 500});
</script>