<% MedianTargetPrice.two_year_price(@company.id).each do |median_price| %>
  <% if median_price.price.to_i > 0 %>
    <p><%= median_price.year %> : <%= number_to_currency(median_price.price) %>
      (<%= get_percent(median_price.price.to_f, @company.last_and_previous_closing_price.first.price) %> %)
    </p>
  <% end %>
  <% if user_signed_in? %>
    <% target_price = TargetPrice.where(:year => median_price.year, :company_id => @company.id, :user_id => current_user.id).last %>
    <% if !target_price.blank? %>
      <p> Your <%= target_price.year %>: <%= number_to_currency(target_price.target_price) %>
        (<%= get_percent(target_price.target_price.to_f, @company.last_and_previous_closing_price.first.price) %> %)
         | <%= link_to "delete", company_target_price_path(@company, target_price), :method => 'delete', :remote => true %></p>
    <% end %>
  <% end %>
<% end %>

<% if current_user %>
  <p><%= link_to "Add or Edit Target Price", "#.", :id => 'company_target_slide', :class => "readmore-link" %>
  </p>
  <div class="slide-div" style="display: none" id='target_price_slide_down'>
    <%= form_for(TargetPrice.new, :url => company_target_prices_path(@company), :validate => true, :remote => true) do |f| %>

      <span>Year:</span>
      <%= f.select :year, get_target_price_year_select, {:include_blank => true}, :class => "slide-select" %>
      <span>Target Price:</span>
      <%= f.text_field :target_price, :class => "slide-input" %>
      <p><input type="submit" class="button small brown" value="Submit"></p>
    <% end %>
  </div>
<% end %>