<div class="row">
	<div class="span3">
		<div class="left_column">
			<h3>Companies</h3>
		</div>
	</div>
	<div class="span6">
		<div class="center_column">			
			<table id="companies" class="display" data-source="<%= companies_url(format: "json") %>">
				<thead>
					<tr>
						<th><%= Time.now.year %> Upside</th>
						<th>Name</th>
						<th>Ticker</th>
						<th>Exchange</th>
						<th>Sector</th>
						<th>Industry</th>
						<th>Last Price</th>
						<th><%= Time.now.year %> Tgt. Pr.</th>
						<th>Mkt Cap</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>


	</div>
  <% if can? :import, Company %>
	<div class="span3">
		<h3>News</h3>

		<h3>Admin Only Section</h3>
		<p>Import Company Data</p>

		<%= form_tag import_companies_path, multipart: true do %>
			<%= file_field_tag :file %>
			<p>Exchange:
			<%= select_tag "exchange", "<option>Nasdaq</option><option>NYSE</option><option>AMEX</option>".html_safe %></p>
			<p>Closing Date:
			<%= select_date(Time.now) %></p>
			<%= submit_tag "Import" %>
		<% end %>

	</div>
  <% end %>
</div>


