<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <p><%= @company.name %> (<%= @company.ticker %>)</p>

      <div class="row-fluid">

        <%= render 'shared/companies_left' %>

        <div class="span4">
          <div class="row-fluid">
            <div class="span12">

              <p>
                Alpha Blips (Limit 140 characters per blip)
                <%= select_tag("sort_by", "<option value='desc'>Recent</option><option value='asc'>Old</option>".html_safe, class: "span3",
                               data: {
                                 remote: true,
                                 url: company_blips_path(@company),
                                 update: "message_div_id"
                               }
                    ) %>
              </p>



              <div id="blips_list" class="scroll">
                <%= render 'shared/blips_list' %>                                                        `
              </div>

              <p>
                <a href="#add_blip" role="button" class="btn btn-primary" data-toggle="modal">Write Blip</a>
              </p>

            </div>

          </div>
        </div>

        <%= render 'shared/companies_right' %>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/add_blip', :locals => {:company => @company} %>
<div id="comments_list"></div>


