<script type="text/javascript">
  //   $(document).ready(
  //    function()
  //    {
  //        $('.scroll-pane').jScrollPane();
  //    });
</script>

<div class="top-stock-search">
  <%= render 'company_banner' %>
</div><!-- end of top-stock-search -->
<div class="clr"></div>

<%= render 'shared/companies_left' %>

<div class="middle-panel">

  <div class="box-col middle-margin">
    <h3 class="middleh3">top reason to buy
      <div class="small-follow-btn"><a href="#">&nbsp;</a></div>
    </h3>
    <div class="input-txt">
      <span class="user-icon"><img src="/assets/user-icon.png" alt=""></span>
      <%= link_to "Add reason to buy...", "#.", :class => "inputo-txt", :id => "add_reason_to_buy_link" %>
    </div>
    <div class="text-editor-container" id="add_reason_to_buy_link_slide_down" style="display: none">
      <%= render :partial => 'pitch_form', :locals => {:option => 'buy'} %>
    </div>


    <!--<div class="scroll-pane" >-->
    <div class="box-col-topreason" id="top_reason_to_buy">

      <%= render :partial => 'shared/blips_list', :locals => {:objs => @company.pitches.buy_pitch.all,
                                                              :company => @company, :child_objs => nil,
                                                              :objs_text => nil,
                                                              :child_objs_text => nil,
                                                              :show_link => true} %>
      <!--<div class="topreason-input-txt">-->
      <!--<div class="input-txt">-->
      <!--<span class="user-icon"><img src="/assets/user-icon.png" alt=""></span>-->
      <%#= link_to "Be the first to add reason to buy...", "#.", :class => "inputo-txt" ,:id => "add_reason_to_buy_link"%>
      <!--</div>-->
      <!--</div>-->
    </div>
    <!--</div>-->

  </div>

  <div class="box-col middle-margin">
    <h3 class="middleh3">top reason to sell
      <div class="small-follow-btn"><a href="#">&nbsp;</a></div>
    </h3>

    <div class="input-txt">
      <span class="user-icon"><img src="/assets/user-icon.png" alt=""></span>
      <%= link_to " Add reason to sell...", "#.", :class => "inputo-txt", :id => "add_reason_to_sell_link" %>
    </div>

    <div class="text-editor-container" id="add_reason_to_sell_link_slide_down" style="display: none">
      <%= render :partial => 'pitch_form', :locals => {:option => 'sell'} %>
    </div>

    <!--<div class="scroll-pane">-->
    <div class="box-col-topreason" id="top_reason_to_sell">
      <%= render :partial => 'shared/blips_list', :locals => {:objs => @company.pitches.sell_pitch.all,
                                                              :company => @company,
                                                              :child_objs => nil,
                                                              :objs_text => nil,
                                                              :child_objs_text => nil,
                                                              :show_link => true} %>
      <!--<div class="topreason-input-txt">-->
      <!--<div class="input-txt">-->
      <!--<span class="user-icon"><img src="/assets/user-icon.png" alt=""></span>-->
      <!--<%#= link_to " Be the first to add reason to sell...", "#.", :class => "inputo-txt" ,:id => "add_reason_to_sell_link"%>-->
      <!--</div>-->
      <!--</div>-->
    </div>
    <!--</div>-->


    <div class="clr"></div>
  </div>

  <div class="box-col">
    <h3>Buring QAs</h3>

    <div class="qa-container">
      <div class="list_questions">
        <%= render :partial => 'questions/list', :locals => {:questions => @company.questions.all, :company => @company} %>
      </div>

      <div class="qa-input-txt">
        <div class="input-txt">
          <%= link_to "Add Question", '#.', :class => "readmore-link", :id => "add_question_link" %>
          <div style="display: none" id='add_question_form'>
            <%= render 'questions/add_question', :locals => {:company => @company} %>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="clr"></div>
</div>

<div class="right-panel">
  <div class="box-col">
    <%= render 'shared/companies_right' %>



    <div class="clr"></div>
  </div>
</div>
<div class="clr"></div>
</div>


<%= render 'searches/search_modal' %>
<div id="comments_list"></div>
<script type="text/javascript">

    var current_instance_id;

    function set_current_instance() {
        if (CKEDITOR.currentInstance) {
            window.current_instance_id = CKEDITOR.currentInstance.name;
        } else {
            return false;
        }
    }


    $('#add_reason_to_buy_link').click(function () {
        $("#add_reason_to_buy_link_slide_down").toggle("slideDown(1000)");
        $("#pitch_title").val('');
        resetEditor("editor_buy");
    });

    $('#add_reason_to_sell_link').click(function () {
        $("#add_reason_to_sell_link_slide_down").toggle("slideDown(1000)");
        $("#add_reason_to_sell_link_slide_down #pitch_title").val('');
        resetEditor("editor_sell");
    });

    function resetEditor(name){
        CKEDITOR.instances[name].setData("<p></p>");
    }
</script>



