<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <p><%= @company.name %> (<%= @company.ticker %>)</p>

      <div class="row-fluid">

        <%= render 'shared/companies_left' %>

        <div class="span4">
          <div class="row-fluid">
            <div class="span12">

              <p>
                Alpha Blips (Limit 140 characters per blip)
              </p>

              <p>
                <div>
                  <% @company.blips.each do |blip| %>
                    <div>
                      <%= link_to vote_up_blip_path(blip),:remote => true, :method => :put, :id => "vote_up_#{blip.id}" do %>
                        <i class="icon-thumbs-up"></i>
                      <% end %>
                      <%= link_to vote_down_blip_path(blip), :remote => true, :method => :put, :id => "vote_down_#{blip.id}" do %>
                        <i class="icon-thumbs-down"></i>
                      <% end %>
                      <%= blip.content %>
                    </div>
                  <% end %>
                </div>
              </p>

              <p>
                <a href="#add_blip" role="button" class="btn btn-primary" data-toggle="modal">Write Blip</a>
              </p>

            </div>

          </div>
        </div>

        <%= render 'shared/companies_right' %>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/add_blip', :locals => {:company => @company} %>


