<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="pull-left span6">
        <p style="font-size:22pt">
          <% pricing_hash = get_pricing_details(@company) %>
          <%= @company.ticker %> $ <%= pricing_hash[:latest_price] %> &nbsp;
          <% if pricing_hash[:price_diff].to_i > 0 %>
            <%= image_tag "up.jpg", size: "16x10", alt: "Going up" %>
          <% elsif pricing_hash[:price_diff].to_i < 0 %>
            <%= image_tag "down.jpg", size: "16x10", alt: "Going down" %>
          <% end %>
          <%= pricing_hash[:price_diff] %> (<%= pricing_hash[:percentage_diff] %>%)
          <a href="#follow" role="button" class="btn btn-primary" data-toggle="modal">Follow</a>
        </p>

        <p style="font-size:18pt">
          <%= @company.name %>
        </p>

        <p style="font-size:18pt"><%= @company.sector %> - <span id="jTruncate_truncate"><%= @company.industry %></p>

        <script type="text/javascript">
          $('#jTruncate_truncate').jTruncate({
            length: 50
          });
        </script>
        </span>
      </div>
      <div class="pull-right span6">
        <%= form_tag(searches_path, :class => 'pull-right', :remote => true) do %>
          <%= text_field('q', 'search', :class => 'input-medium search-query') %>
          <%= submit_tag('Search', :class => 'btn') %>
        <% end %>
      </div>
    </div>
    <div class="span12">

      <div class="row-fluid">

        <%= render 'shared/companies_left' %>

        <div class="span4">
          <div class="row-fluid">
            <div class="span12">

              <h5>Alpha Blips (Limit 140 characters per blip)
                <%= select_tag("sort_by", "<option value='desc'>Recent</option><option value='asc'>Old</option>".html_safe, class: "span3",
                               data: {
                                 remote: true,
                                 url: company_blips_path(@company),
                                 update: "message_div_id"
                               }
                    ) %>
              </h5>


              <div id="blips_list" class="scroll">
                <%= render :partial => 'shared/blips_list', :locals => {:objs => @blips, :company => @company, :child_objs => nil, :objs_text => nil, :child_objs_text => nil} %>
              </div>

              <% if current_user %>
                <p>
                  <a href="#add_blip" role="button" class="btn btn-primary" data-toggle="modal">Write Blip</a>
                </p>
              <% end %>

              <div class="span12">
                <div class="span6">
                  <h4>Top Reason to Buy</h4>
                  <%= render :partial => 'shared/blips_list', :locals => {:objs => @company.pitches.buy_pitch.all, :company => @company, :child_objs => nil, :objs_text => nil, :child_objs_text => nil} %>
                  <p>
                    <%= link_to "Write Reason to Buy", new_company_pitch_path(@company, :action_type => "buy"), :class => "btn btn-primary" %>
                  </p>
                </div>

                <div class="span6">
                  <h4>Top Reason to Sell</h4>
                  <%= render :partial => 'shared/blips_list', :locals => {:objs => @company.pitches.sell_pitch.all, :company => @company, :child_objs => nil, :objs_text => nil, :child_objs_text => nil} %>
                  <p>
                    <%= link_to "Write Reason to Sell", new_company_pitch_path(@company, :action_type => "sell"), :class => "btn btn-primary" %>
                  </p>
                </div>


              </div>

              <div class="span12 scroll300">
                <h4>Burning QA's: <%= link_to "Add Question", '#add_question', "data-toggle" => "modal" %></h4>

                <div class="list_questions">
                  <%= render :partial => 'questions/list', :locals => {:questions => @company.questions.all, :company => @company} %>

                </div>
              </div>
            </div>

          </div>
        </div>

        <%= render 'shared/companies_right' %>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/add_blip', :locals => {:company => @company} %>
<%= render 'questions/add_question', :locals => {:company => @company} %>
<%= render 'searches/search_modal' %>
<div id="comments_list"></div>


