<div class="container-fluid">
  <div class="row-fluid">
    <%= render 'company_banner' %>
    <div class="span12">&nbsp;</div>
    <div class="span12">

      <div class="row-fluid">

        <%= render 'shared/companies_left' %>

        <div class="span6">
          <div class="row-fluid">



              <div class="span12">
                <div class="scroll">
                  <h4>Top Reason to Buy</h4>
                  <%= render :partial => 'shared/blips_list', :locals => {:objs => @company.pitches.buy_pitch.all, :company => @company, :child_objs => nil, :objs_text => nil, :child_objs_text => nil} %>
                </div>
                  <p>
                    <%= link_to "Write Reason to Buy", new_company_pitch_path(@company, :action_type => "buy"), :class => "btn btn-primary" %>
                  </p>

               </div>
                <div class="span12">
                  <div class="scroll">
                  <h4>Top Reason to Sell</h4>
                  <%= render :partial => 'shared/blips_list', :locals => {:objs => @company.pitches.sell_pitch.all, :company => @company, :child_objs => nil, :objs_text => nil, :child_objs_text => nil} %>
                  </div>
                    <p>
                    <%= link_to "Write Reason to Sell", new_company_pitch_path(@company, :action_type => "sell"), :class => "btn btn-primary" %>
                  </p>
                </div>



              <div class="span12">
                <div class="scroll300">
                <h4>Burning QA's: <%= link_to "Add Question", '#add_question', "data-toggle" => "modal" %></h4>

                <div class="list_questions">
                  <%= render :partial => 'questions/list', :locals => {:questions => @company.questions.all, :company => @company} %>

                </div>
              </div>
            </div>

          </div>
        </div>

        <%= render 'shared/companies_right' %>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/add_blip', :locals => {:company => @company} %>
<%= render 'questions/add_question', :locals => {:company => @company} %>
<%= render 'searches/search_modal' %>
<div id="comments_list"></div>


