<p>Name: <%= @company.name %></p>
<p>Ticker: <%= @company.ticker %></p>
<p>Exchange: <%= @company.exchange %></p>
<p>Sector: <%= @company.sector %></p>
<p>Industry: <%= @company.industry %></p>
<p>Last close: <%= @company.quotes.last.price %></p>