<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <p><%= @company.name %> (<%= @company.ticker %>)</p>

      <div class="row-fluid">

        <%= render 'shared/companies_left' %>

        <div class="span4">
          <div class="row-fluid">
            <div class="span12">

                <h5>Alpha Blips (Limit 140 characters per blip)
                <%= select_tag("sort_by", "<option value='desc'>Recent</option><option value='asc'>Old</option>".html_safe, class: "span3",
                               data: {
                                 remote: true,
                                 url: company_blips_path(@company),
                                 update: "message_div_id"
                               }
                    ) %>
                </h5>


              <div id="blips_list" class="scroll">
                <%= render :partial => 'shared/blips_list', :locals => {:objs => @blips} %>
              </div>

              <% if current_user %>
                <p>
                  <a href="#add_blip" role="button" class="btn btn-primary" data-toggle="modal">Write Blip</a>
                </p>
              <% end %>

              <div class="span12">
                <div class="span6">
                  <h4>Top Reason to Buy</h4>
                  <%= render :partial => 'shared/blips_list', :locals =>  {:objs => @company.pitches.buy_pitch.all} %>
                  <p>
                    <%= link_to "Write Reason to Buy",  new_company_pitch_path(@company) %>
                  </p>
                </div>

                <div class="span6">
                  <h4>Top Reason to Sell</h4>
                  <%= render :partial => 'shared/blips_list', :locals =>  {:objs => @company.pitches.sell_pitch.all} %>
                  <p>
                    <%= link_to "Write Reason to Buy",  new_company_pitch_path(@company) %>
                  </p>
                </div>


              </div>

            </div>

          </div>
        </div>

        <%= render 'shared/companies_right' %>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/add_blip', :locals => {:company => @company} %>
<div id="comments_list"></div>


