<div style='display:none' class="slide-div" id='catalyst_slide_down<%= catalyst.id %>'>
  <%= form_for(catalyst, :url => company_catalysts_path(@company), :remote => true, :method => 'post', :validate => true) do |f| %>
        <%= f.text_field :date, :id => "catalyst_date_#{catalyst.id}", :class => 'slide-input-med', :size => 16, :readonly => true %>

    <span>Content</span>
    <%= f.text_area :content, :id => "catalyst_text_area#{catalyst.id}", :cols => "5", :rows => "5", :class => "slide-textarea" %>
    <%= f.submit :class => "button medium brown" %>
  <% end %>
</div>


<script type="text/javascript">
  $('#catalyst_date_<%= catalyst.id %>').datepicker({
    showOn: "button",
    buttonImage: "/assets/cal-icon.png",
    buttonImageOnly: true
  });
  $("#catalyst_text_area<%= catalyst.id %>").maxlength({max: 500});
  $("#company_catalyst_slide<%= catalyst.id %>").unbind();
  $("#catalyst_slide_down<%= catalyst.id %>").unbind();
  $("#company_catalyst_slide<%= catalyst.id %>").click(function () {
    $("#catalyst_slide_down<%= catalyst.id %>").toggle("slideDown(1000)", function () {
    });
  });
</script>