<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>AlphaPitch</title>
  <meta name="apple-touch-fullscreen" content="yes"/>

  <link rel="shortcut icon" href="assets/favicon.ico">

  <%= stylesheet_link_tag "application" %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <%= javascript_include_tag "application" %>


  <script>
    $(function() {
      $( "#datepicker" ).datepicker();
      $( "#format" ).change(function() {
        $( "#datepicker" ).datepicker( "option", "dateFormat", $( this ).val() );
      });
      $('.scroll-pane').jScrollPane();
    });
  </script>
</head>
<body>
<div id="wrapper">
  <header>
    <div class="header-top">
      <div class="row">
        <div class="logodiv"><h1>
          <%= link_to root_path do %>
            <img src="/assets/logo.png" alt="AlphaPitch">
          <% end %>
        </h1></div>
        <div class="top-search-div">
                  <div class="top-search clear-fix">
                    <%= form_tag(searches_path, :class => 'pull-right', :remote => true) do %>
                      <%= text_field('q', 'search', :class => 'search-input', :placeholder => "Search by Ticker, Company name") %>
                      <%= submit_tag('', :class => 'search-btn') %>
                      <div class="clr"></div>
                    <% end %>
                  </div>
                </div>
        

        <div class="top-login-space">
          <ul class="top-link">
            <li>
              <% if user_signed_in? && current_user%>
                <div class="pic-div">
                  <a href="#" class="username-pic"><span class="arrow"><%= image_tag current_user.image_url(:tiny_thumb).to_s %><%= '  ' + current_user.name %></span></a>
                </div>
                <ul>
                  <li><%= link_to "View Profile", user_path(current_user) %></li>
                  <li><%= link_to "Credit", credits_users_path %></li>
                  <li><%= link_to "Setting", setting_users_path %></li>
                  <li class="last"><%=link_to 'Logout',destroy_user_session_path,:method => 'delete' %></li>
                </ul>
              <% else %>
                <a href="#signin-nmodal" class="nModal" id="session_start">Register/Sign In</a>
              <% end %>
            </li>
          </ul>
        </div>


        <div class="clr"></div>
      </div>
      <div class="navdiv">
        <div class="row">
        <nav>
          <ul class="navul">
            <li>
              <a href="#">Sectors</a>
              <ul>
                <li><%= link_to "SmidCap", "#" %></li>
                <li><%= link_to "LargeCap", "#" %></li>
                <li><%= link_to "Value", "#" %></li> 
              </ul>
            </li>
            <li><a href="#">Nav Link 2</a></li>
            <li><a href="#">Nav Link 3</a></li>
            <li><a href="#">Nav Link 4</a></li>
            <li><a href="#">Nav Link 5</a></li>
            <li><a href="#">Nav Link 6</a></li>
            <li><a href="#">Nav Link 7</a></li>
            <li><a href="#">Nav Link 8</a></li>
          </ul>
          <div class="clr"></div>
        </nav>
      </div>

    </div>
      <div class="top-tickers">
        <div class="row">
          <div class="tickers-div">
            <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();" scrollamount=3>
              Active Tickers: &nbsp;
              <% MostActiveTicker.get_active_companies.each do |active_ticker| %>
                <%= link_to active_ticker.company.ticker, company_path(active_ticker.company) %> &nbsp;
              <% end %>
            </marquee>
          </div>
        </div>

      </div>
      <div class="clr"></div>
    </div>
    <!-- end of header top -->
  </header>
  <!-- end of header -->
  <div id="signin-nmodal" style="display: none">
    <div id="alphapitchbox-modal-window" class="alphapitchbox-window">
      <div id="readlater_register_login" class="regi-sign-box clear-fix">
          
            <div class="joinNow_content">
              <div class="top_title_area">
                  <h3>Open Investment Community</h3>
                    <p class="text">AlphaPitch is an exciting new way to share investment insights on companies.</p>
                 </div>
                 
                
                  <div class="register_form">
                      <h3>Register Here:</h3>
                      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true, :html => {:class => 'form-vertical'}) do |f| %>

                      
                          <fieldset><span>Choose Username</span>
                          <%= f.text_field :name, :autofocus => true, :class => "inputbox input-required", :validate => { :presence => true } %>
                          </fieldset>

                          <fieldset><span>Email Address</span>
                          <%= f.email_field :email, :autofocus => false, :class => "inputbox input-required", :validate => { :presence => true } %>
                          </fieldset>
                          <fieldset><span>Create Password:</span>
                          <%= f.password_field :password, :class => "inputbox  input-required", :validate => { :presence => true } %>
                          </fieldset>
                          <fieldset><span>Confirm Password:</span>
                          <%= f.password_field :password_confirmation, :class => "inputbox input-required", :validate => { :presence => true } %>
                          </fieldset>
                          <div class="agree">
                            <input type="checkbox">I agree to <a target="_blank" href="#">Terms of Use</a> &amp; <a target="_blank" href="#">Privacy Policy</a>
                          </div>

                      
                        <%= f.submit "Sign up", :class => 'button medium  brown' %>
                      

                      <p>
                        <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
                          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                          <%= link_to "Didn't receive confirmation email?", new_confirmation_path(resource_name) %><br />
                        <% end -%>
                        </p>
                    <% end %>
                     
                    </div>
                                    
            </div>
            
            <div id="readlater_login" class="readlater_login">
              <h3>Already Joined?</h3>
                <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :validate => true, :html => {:class => 'form-vertical'}) do |f| %>
                  <fieldset><span>Email Address</span>
                    <%= f.text_field :email, :class => 'inputbox' %></fieldset>
                  <fieldset><span>Password:</span>
                    <%= f.password_field :password, :class => 'inputbox' %></fieldset>
                  <fieldset><%= f.check_box :remember_me %><%= f.label :remember_me %></fieldset>
                  <%= f.submit 'Sign in', :class => 'button blue medium' %>
                  <% save_location %>
                <% end %>
                <%= link_to "Forgot your password?", new_password_path(:user), :class => 'agree' %>
            </div>           
        </div>              
    </div>
    <br class='clr'>
  </div>
    <!-- end of modal -->
  <div id="middle-container">
    <div class="row">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </div>
  <footer id="footer">
    <div class="row">
      <div class="footerlinks"><a href="#">Footer Link1</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Footer Link2</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Footer Link1</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Footer Link3</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Footer Link4</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Footer Lin5</a></div>
      <div class="footer-copy"><p>Copyright&copy; 2013. All Rights AlphaPitch.</p></div>
    </div>
  </footer>

  <script type="text/javascript">
    $(document).on("click", ".close-btn", function() {
        $("#flash-message-custom").hide('slow');
        $("#flash-message").hide('slow');
    });
  </script>

</div>
</body>
</html>
