<div id="middle-container">
  <div class="row">
    <div class="content-area">
      <h2 class="page-title">Sign Up</h2>

      <div class="sign-container">

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true, :html => {:class => 'form-vertical'}) do |f| %>

          <p><label class="lbltxt">Username</label><em>*</em><br>
            <label class="input-box">
              <%= f.text_field :name, :autofocus => true, :class => "inputbox input-required", :validate => { :presence => true } %>
            </label></p>

          <p><label class="lbltxt">Email</label><em>*</em><br>
            <label class="input-box">
              <%= f.email_field :email, :autofocus => false, :class => "inputbox input-required", :validate => { :presence => true } %>
            </label>
          </p>

          <p><label class="lbltxt">Password</label><em>*</em><br>
            <label class="input-box">
              <%= f.password_field :password, :class => "inputbox  input-required", :validate => { :presence => true } %>
            </label></p>

          <p><label class="lbltxt">Password Confirmation</label><em>*</em><br>
            <label class="input-box"><%= f.password_field :password_confirmation, :class => "inputbox input-required", :validate => { :presence => true } %></label></p>


          <p>
            <%= f.submit "Sign up", :class => 'button medium  brown' %>
          </p>

          <p>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
              <%= link_to "Didn't receive confirmation email?", new_confirmation_path(resource_name) %><br />
            <% end -%>
            </p>


        <% end %>

      </div>
      <!-- end of sign container -->


      <div class="clr"></div>
    </div>

  </div>
</div><!-- end of middle contaienr -->


<%#= render "devise/shared/links" %>

